form{
    display: inline-block;
    border: 2px solid lightblue;
    box-shadow: lightblue 0px 5px 15px;;
    /* box-shadow: gray 0px 3px 6px, gray 0px 3px 6px; */
    margin: 20px 370px;
    padding: 20px;
    border-radius: 20px;
}
form input{
    width: 415px;
    height: 20px;
    padding: 10px;
    margin: 10px;
    font-size: medium;
    border: 2px solid white;
    border-radius: 10px;
}
form textarea{
    padding: 10px;
    margin: 10px;
    border: 2px solid white;
    font-size: medium;
    border-radius: 10px;
}
form button{
    padding: 10px;
    border: 2px solid crimson;
    background-color: crimson;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    position: relative;
    left: 360px;
    margin: 10px;

}